:root {
    --deep-blue: #000;
    --silver: #B0B0B0;
    --white: #FFFFFF;
    --warm-gold: #D4AF37;
    --text-font: 'Open Sans', sans-serif;
    --heading-font: 'Merriweather', serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
    padding: 0;
    margin: 0;
}



header {
    font-family: var(--heading-font);
    background-color: #000;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    margin-left: 0;
}

.site-name {
    font-size: 2.5rem;
    font-family: var(--heading-font);
}

nav {
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
    background-color: var(--warm-gold);
    color: var(--deep-blue);
    border-radius: 5px;

}

nav ul li a {
    text-decoration: none;
    color: var(--white);
}

nav ul li a.active {
    border-bottom: 3px solid var(--warm-gold);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2; 
    color: white;
    padding: 2rem;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-60%);
}

.hero-content p {
    margin: 0 0 2.5rem;
    font-family: var(--heading-font);
    font-size: 2.5rem;
}

.hero-content .cta-button {
    margin-top: 1rem;
}

.cta-button {
    background-color: var(--white);
    color: #000;
    font-family: var(--heading-font);
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 3rem;
    font-weight: bold;
    transition: background 0.3s;
    align-items: center;
}

.cta-button:hover {
    background-color: var(--warm-gold);
}

.welcome {
    padding: 1rem;
    font-family: var(--heading-font);
    font-size: 1.2rem;

}

.home-section {
    display: flex;
    padding: 1rem 2rem;
    gap: 2rem;
    height: auto;
    font-family: var(--text-font);
}

.events,
.weather,
.forecast {
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #1F1F1F;
}

.events {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.events h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000;
    text-align: center;
    font-family: var(--heading-font);
    padding: 0.5rem;
    border-radius: 0.5rem;

}

.weather h2,
.forecast h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--white);
    text-align: center;
    font-family: var(--heading-font);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.weather {
    padding: 2rem;
    margin-bottom: 2rem;
    color: var(--white);
}

.weather .current-temp,
.weather .weather-description {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.forecast {
    padding: 2rem;
    margin-bottom: 2rem;
}


.forecast .forecast-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.forecast .forecast-card {
    background-color: #1F1F1F;
    color: var(--white);
    padding: 1rem;
    width: 30%;
    text-align: center;
    border-radius: 8px
}

.forecast .forecast-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.forecast .forecast-card p {
    font-size: 1rem;
}

.spotlight {
    background-color: #f4f4f4;
    padding: 2rem;
}

.spotlight h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--heading-font);
}

.spotlight .spotlight-items {
    display: flex;
    justify-content: space-between;
}

.spotlight .spotlight-card {
    background-color: #f4f4f4;
    padding: 1rem;
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    font-family: var(--text-font);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.spotlight .spotlight-logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.spotlight .spotlight-info h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.spotlight .spotlight-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


footer {
    font-family: var(--text-font);
    background-color: #000;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 20rem;
    width: 100%;
    height: auto;
    gap: 2rem;
    flex-wrap: wrap;

}

.sociallinks {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background-color: var(--white);
    border-radius: 2px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .directory-container.grid-view {
        grid-template-columns: 1fr;
    }

    .list-view .member-card {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--deep-blue);
        position: absolute;
        top: 100%;
        right: 2rem;
        width: 200px;
        padding: 1rem;
        border-radius: 5px;
        z-index: 1000;
    }

    .nav-links.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    nav ul li {
        text-align: right;
    }

    nav ul li:hover {
        background-color: var(--warm-gold);
        color: var(--deep-blue);
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a:focus,
    nav ul li a:active {
        color: var(--deep-blue);
        transition: color 0.3s ease;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-content,
    .hero-image {
        flex: 1 1 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .home-section {
        flex-direction: column;
    }

    .events, .weather, .forecast {
        width: 100%;
    }
    .forecast .forecast-items {
        flex-direction: column;
        align-items: center;
    }

    .forecast .forecast-card {
        width: 90%;
    }

    .spotlight .spotlight-items {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .spotlight .spotlight-card {
        width: 110%;
    }
}
